* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f78888;
    font-weight: bolder;

    .logo {
        width: 5rem;
        align-items: center;
    }

    .btn {
        padding: 1rem;

    }

    nav {
        display: flex;
        gap: 0.5rem;
        position: relative;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #f3d250;
    }
}

.about-us {
    text-align: center;
    position: relative;
    background-image: url('/pages/page1/assets/img/yellow icing.png');
    background-size: contain; 
    height: 40dvb;
    background-color: #f78888;
}

.about-us h1 {
    padding: 5rem 0rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.about-us p {
    padding: 0 10rem;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}












.row {
    display: flex;
}

.goals {
    padding: 10rem 5rem;
    background-color: #f78888;

}

.goals p {
    font-style: italic;
    line-height: 1.5rem;
    text-align: justify;
}

.goals h2 {
    padding-top: 5rem;
}

.video {
    width: 100%;
    border: 2px solid black;
    border-radius: 3rem;
    text-align: center;
}





.members {
    background-color: #f78888;
    height: 90dvh;
}

.column-three {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


.row-three {
    display: flex;
}


.ewan {
    padding: 1rem 1rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
}

.members h3 {
    padding-top: 2rem 2rem;
    font-size: x-large;
    color: black;
    text-align: center;
}

.members h4 {
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.members p {
    font-size: smaller;
    padding: 5rem 10rem;
}




