* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f0efeb;
    color: #FFF;
    height: 50px;
    padding: 4em;
  }

  
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

a {
    text-decoration: none;
    color: #000;
}

a:hover {
  color: #4b4b4b;
}



.section-column {
    padding: 50px;
    background-color: #f0efeb;

}


.section-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6rem 10rem;
    background-color: #f0efeb;


}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #cb997e;
    padding: 60px;
    border: 1px;
    border-radius: 50px;

    p {
        font-style: italic;
        font-size: small;
        padding-top: 1rem;
    }
}

.card:hover {
    background-color: #ddbea9;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fff1e6;
    margin: 15% auto;
    padding: 2rem 5rem;
    width: 40%;
    border: 1px solid black;
    border-radius: 50px;
}

.modal p {
    padding: 3rem;
    text-align: justify;
}

.modal h3 {
    font-style: italic;
    font-size: small;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


button {
    background-color: #fff1e6;
    color: black;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    font-size: 18px;
}

.section-column h4 {
    font-size: larger;
}







.footer {
    text-align: center;
    background-color: #cdcbc5;
    padding: 1rem 5rem;
    font-size: small;
    justify-content: center;
}

.info {
    padding: 0rem 20rem;
    font-size: medium;
    padding-top: 2rem;
    font-weight: bolder;

}


.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.links li {
    margin: 0 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a li {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.bottom {
    padding-top: 3rem;
}



@media only screen and (max-width: 600px) {

    html,
    body {
    overflow-x: hidden;
    }

    .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #f0efeb;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }







    .section-row {
        flex-direction: column;
        padding: 3rem 1rem;
    }

    .section-column {
        width: 100%;
        margin-bottom: 2rem;
    }

    .card {
        padding: 1.5rem;
    }

    .card img.books {
        width: 80%;
        margin-bottom: 1rem;
    }

    .card h4 {
        font-size: 1rem;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .modal-content {
        width: 80%;
        padding: 1rem;
    }

    .modal p {
        padding: 2rem;
    }

    .footer {
        padding: 2rem 1rem;
        font-size: 1rem;
    }

    .info {
        padding: 0rem 1rem;
        font-size: 1rem;
        font-weight: normal;
    }

    .footer .links {
        display: flex;
        align-items: center;
    }

    .links li {
        margin: 0rem 1;
    }

    .socmed a {
        margin: 0.5rem;
    }

    .socmed img {
        width: 50px;
        height: auto;
    }

    .bottom {
        font-size: 0.9rem;
    }

   
}